:root{
    --bg-button: #F0F0F0;
    --border-button:solid 1px #888;
}

.button{
    font-size: 1.4rem;
    background: var(--bg-button);
    border: none;
    border-right: var(--border-button);
    border-bottom: var(--border-button);
    outline: none;
}
.button:active{
    background: #CCC;

}
.button.double{
    grid-column: span 2;
}
.button.triple{
    grid-column: span 3;
}
.button.operation{
    background-color: #fa8231;
    color: #FFF;
}
.button.operation:active{
    background : #fa8231cc;
}